numpy
scipy
matplotlib
joblib
tqdm
pyyaml
colorlog
tqdm
scikit-learn
evan

opencv-python
scikit-video

torch==1.2.0
torchvision

protobuf==3.18.3
tensorboard
tensorboardX
moviepy

flake8
isort
black
mypy
typeshed

# face_recognition
